// include Compass
@import compass/css3

// include Twitter Bootstrap
@import bootstrap/bootstrap


#top-nav,
#main
    @media only screen and (min-width: 1024px)
        max-width: 1024px
        min-width: 1204px

#lif-header,
#lif-footer
    background: rgb(200,0,0)
    width: 100%
#top-nav
    height: 50px
    margin: 0 auto
    position: relative
    > h1
        > a
            color: rgb(255,255,255)
            font: bold 40px/1 $serifFontFamily
            left: 0
            letter-spacing: -1px
            position: relative
            top: 5px
            +text-shadow(3px 3px 1px rgba(0,0,0,.25))
            +transition(text-shadow 1s)
            &:active,
            &:focus,
            &:hover
                text-decoration: none
                +text-shadow(3px 3px 1px rgba(0,0,0,1))
#signin
    position: absolute
    right: 10px
    top: 5px

#lif-auth
    color: rgb(255,255,255)
    font-size: 20px
    line-height: 50px
    position: absolute
    right: 10px
    top: 0
    > li
        display: inline
        &:first-child
            border-right: 1px solid rgb(255,255,255)
            padding-right: .5em
        > a
            color: rgb(255,255,255)
            padding-left: .5em

#main
    margin: 0 auto

#lif-home-search,
#lif-signup
    margin: 100px auto
    > h1
        font-family: $serifFontFamily
        letter-spacing: -1px
        margin-left: 20px
    > form
        margin-top: -5px
        > .control-group
            > label,
            > .help-block
                font-size: 20px
                margin-bottom: .5em
            > input[type=search],
            > input[type=text],
            > input[type=password]
                font-size: 20px
                height: auto
                margin-bottom: 10px
    .btn,
    input[type=search],
    input[type=text],
    input[type=password]
        width: 100%
    @media only screen and (min-width: 1024px)
        width: (1024px/2)
        
#lif-footer
    bottom: 0
    min-height: 100px
    position: absolute