{% extends 'base.html' %}


{% block content %}
<script>
    //For ajax
    var csrf_token = "{{ csrf_token }}";
</script>
<h1>{{ entry.name }}</h1>

{% if entry.url %}
    <a href="{{ entry.url }}" class="">{{ entry.url }}</a>
{% endif %}


<h2>Best Explanation</h2>
<p>{{ entry.get_most_popular_explanation }}</p>

<ul class="nav nav-tabs">
    <li>Other Explanations</li>
    <li>Submit New Explanation</li>
</ul>

<h2>More Explanation</h2>
{% for ex in entry.explanation_set.all %}
    <p>{{ ex }}</p>
    <p>Score: <span>{{ ex.score }}</span> <a href='/vote/explanation' class='lif-upvote' data-type='explanation' data-id='{{ ex.id }}'>UPVOTE</a> / <a href='/vote/explanation' class='lif-downvote' data-type='explanation' data-id='{{ ex.id }}'>DOWNVOTE</a></p>
    <br/>
{% endfor %}

<h2>Submit New Explanation</h2>
<form method='POST' action='/explanation/submit'>
    {% csrf_token %}
    <input type='hidden' name="entry_hex" value='{{ entry.hex }}' />
    
    <input type='hidden' id="id_entry" name='entry' value='{{ entry.id }}' />
    {{ explanation_form.body }}
    <input type='submit' />
</form>

{% endblock content %}