{% extends 'base.html' %}

{% block content %}
<script>
    //For ajax
    var csrf_token = "{{ csrf_token }}";
</script>
<h1>{{ entry.name }}</h1>

<p id="lif-explanation-most-popular" style="margin: 10px 0;">
{% for ex in entry.get_most_popular_explanation %}
    {{ ex }}
{% endfor%}
</p>

{% if entry.url %}
    <p><a href="{{ entry.url }}" class="">{{ entry.url }}</a></p>
    
    {% for ex in entry.get_most_popular_explanation %}
        {% if ex.tags.all %}
        <p>Possibly <span class="label label-important">NSFW</span> because:</p>
        <ul>
            {% for tag in ex.tags.all %}
            <li>{{ tag }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endfor%}    
{% endif %}


<div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#explanations" data-toggle="tab">Other Explanations</a></li>
        <li><a href="#submit" data-toggle="tab">Submit a New Explanation</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="explanations">
            {% for ex in entry.explanation_set.all %}
            <div class="well" style="background-color: #f5f5f5;">
                <p>{{ ex }}</p>
                <p class="lif-score">Score: {{ ex.score }}</p>
                    {% if request.user.is_authenticated %}
                    <a href='/vote/explanation' id='lif-upvote-link-{{ ex.id }}' class='lif-upvote' data-type='explanation' data-id='{{ ex.id }}'><i class="icon-thumbs-up"></i> Upvote</a> / <a href='/vote/explanation' id='lif-downvote-link-{{ ex.id }}' lif-downvote' data-type='explanation' data-id='{{ ex.id }}'><i class="icon-thumbs-down"></i> Downvote</a>
                    {% else %}
                    <a href="{% url login %}">Sign In to vote.</a>
                    {% endif %}
            </div><!-- /.well -->
            {% endfor %}
        </div><!-- /#explanations -->
        <div class="tab-pane" id="submit">
            <form method='POST' action='/explanation/submit' class="well">
                {% csrf_token %}
                {% if entry.url %}
                    {{ explanation_form.tags }}
                {% endif %}
                <div class="control-group">
                    <input type='hidden' name="entry_hex" value='{{ entry.hex }}'>
                    <input type='hidden' id="id_entry" name='entry' value='{{ entry.id }}'>
                    <textarea name="body" cols="40" rows="10" id="id_body" style="width: 100%;"></textarea>
                </div><!-- /.control-group -->
                <div class="form-actions">
                    <input type='submit' value='Add New Explanation' class='btn btn-primary' id='add-explanation'>
                </div><!-- /.form-actions -->
            </form>
        </div><!-- /#submit -->
    </div><!-- /.tab-content -->
</div><!-- /.tabbable -->
{% endblock content %}

{% block extra_foot %}
<script src="{{ STATIC_URL }}js/bootstrap/bootstrap-tab.js"></script>
{% endblock extra_foot %}