{% extends 'base.html' %}

{% block content %}

{{ entry }}

<p>Popular:</p>
{{ entry.get_most_popular_explanation }}



//Tabs
//Comments


//Explanations
{% for ex in entry.explanation_set.all %}
    <p>{{ ex }} - {{ ex.up_votes }} <a href='/vote/explanation' class='lif-upvote' data-type='explanation' data-id='{{ ex.id }}'>UPVOTE</a> / <a href='/vote/explanation' class='lif-downvote' data-type='explanation' data-id='{{ ex.id }}'>DOWNVOTE</a></p>
{% endfor %}

//Submit New Explanation
<form method='POST' action='/explanation/submit'>
    {% csrf_token %}
    <input type='hidden' name="entry_hex" value='{{ entry.hex }}' />
    
    <input type='hidden' id="id_entry" name='entry' value='{{ entry.id }}' />
    {{ explanation_form.body }}
    <input type='submit' />
</form>

{% endblock content %}