{% extends 'base.html' %}

{% block content %}
<h1 class="pre-well">Explain it to me.</h1>
<form action="/search" method="post" class="well">
    {% csrf_token %}
    <div class="control-group">
        <input id="search" name="search" type="search" placeholder="Word, Phrase or URL&hellip;">
        <input type="submit" value="Search or Explain" id="search-button" class="btn btn-primary btn-large">            
    </div><!-- /.control-group -->
    <div class="form-actions">
        <p>Like I&rsquo;m 5ive provides brief, simple explanations for anything. Search for words, people, concepts, URLs or anything else and get a short summary that anyone can understand. For example:</p>
        <ul>
            <li><a href="/83d7fc/quantam-physics/">quantam physics</a></li>
            <li><a href="/bf49f4/battle-for-aleppo-intensifies-syrian-conflict-the-big-picture-bostoncom/">http://www.boston.com/bigpicture/2012/07/battle_for_aleppo_intensifies.html</a></li>
            <li><a href="/08ced0/checoze/">CheCoZe</a></li>
            <li><a href="/584728/xkcd-python/">http://xkcd.com/353/</a></li>
            <li><a href="/e31fea/narwhal/">Narwhal</a></li>
            <li><a href="/339274/neil-patrick-harris/">Neil Patrick Harris</a></li>
            <li><a href="/2cff07/ultimate-dog-tease-youtube/">http://www.youtube.com/watch?v=nGeKSiCQkPw</a></li>            
            
        </ul>
    </div><!-- /.form-actions -->
</form>
{% endblock content %}