{% extends 'base.html' %}

{% block content %}
<div id="lif-home-search">
    <h1>Explain it to me.</h1>
    <form action="." method="post" class="well">
        {% csrf_token %}
        <div class="control-group">
            <label for="search">I don&rsquo;t quite understand</label>
            <input id="search" name="search" type="text" placeholder="word, phrase or urlL&hellip;">.
            <p>Could you explain it to me, like I&rsquo;m five?</p>
        </div><!-- /.control-group -->
        <div class="form-actions">
            <input type="submit" value="Search or Explain" id="search-button" class="btn btn-primary btn-large">
        </div><!-- /.form-actions -->
    </form>
</div><!-- /#lif-home-search -->
{% endblock content %}