<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %} Like I&rsquo;m Five{% endblock title%}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/like-im-5ive.css">
    <link rel="author" href="humans.txt">
    {% block extra_head %}{% endblock extra_head %}
    <script src="{{ STATIC_URL }}js/modernizr/2.5.3/modernizr.min.js"></script>
    {% block extra_js %}{% endblock extra_js %}
</head>
<body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">
    <header role="banner" id="lif-header">
        <nav id="top-nav">
            <h1><a href="/">Like I&rsquo;m 5ive</a></h1>

            {% if not request.user.is_authenticated %}
            <div id="signin" class="btn-group">

                <a class="btn btn-large dropdown-toggle" data-toggle="dropdown" href="#">Sign In or Sign Up <span class="caret"></span></a>
                <ul id="signin-dropdown" class="dropdown-menu dropdown-form pull-right">
                    <li>
                        <form method="POST" action="{% url login %}?next={{ request.get_full_path }}">{% csrf_token %}
                            <fieldset>
                                <div class="coontrol-group">
                                    <label for="username">Username</label>
                                    <input type="text" name="username"></input>
                                </div><!-- /.control-group -->
                                <div class="control-group">
                                    <label for="password">Password</label>
                                    <input type="password" name="password"></input>
                                </div><!-- /.control-group -->
                                <input type="submit" class="btn btn-primary" value="Login">
                            </fieldset>
                        </form>
                    </li>
                    <li><a href="{% url registration %}">Don&rsquo;t have an account? Sign up!</a></li>
                </ul>
            </div><!-- /.btn-group -->
            {% else %}
            <ul id="lif-auth">
                <li id="lif-user">{{ request.user.username }}</li>
                <li><a href="{% url logout %}">Logout</a></li>
            </ul>
            {% endif %}
        </nav>
    </header>
    <div id="main" role="main">
        {% if messages %}
            {% for message in messages %}
                <div class="alert {% block alert_type %}%alert-info{% endblock alert_type %}">
                    <a class="close" data-dismiss="alert">×</a>
                    <h1 class="alert-heading">{{ message.tags }}</h1>
                    <p>{{ message }}</p>
                </div><!-- /.alert -->
            {% endfor %}
        {% endif %}
        {% block content %}
        {% endblock content %}
    </div><!-- /#main -->
    <footer role="contentinfo" id="lif-footer">
        <nav>
            <p>Life is complicated, your explanations don&rsquo;t have to be. <a href="http://likeim5ive.com/site_media/static/help/index.html">Still need help?</a></p>
            <p>Like I&rsquo;m 5ive brought to you by CheCoZe.</p>
        </nav>
    </footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="static/js/jquery/1.7.2/jquery.min.js"><\/script>')</script>
    <script src="{{ STATIC_URL }}js/bootstrap/bootstrap-dropdown.js"></script>
    <script src="{{ STATIC_URL }}js/like-im-5ive.js"></script>
</body>
</html>