{% extends "base.html" %}

{% block title %}Login | {% endblock title %}

{% block content %}
<div id="lif-signup">
    <h1>Login</h1>
    <form method="POST" action="{% url login %}" class="well">
        {% csrf_token %}
        <div class="control-group">
            {{ form.username.label_tag }}
            {{ form.username }}
        </div><!-- /.control-group -->
        <div class="control-group">
            {{ form.password.label_tag }}
            {{ form.password }}
        </div><!-- /.control-group -->
        <div class="form-actions">
            <input type="submit" class="btn btn-primary btn-large" id="register-button" value="Login">
        </div><!-- /.form-actions -->
    </form>
</div><!-- /#lif-signup -->
{% endblock content %}